.button {
    background-image: url('images/bat4.png'); /* 16px x 16px */
    background-color: #4e4f52;
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    color: white;
    font-size: 20px;
    text-align: center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 100px;           /* make this the size of your image */
    padding: 100px 100px;
    display: inline-block;
    vertical-align: middle; /* align the text vertically centered */
}

h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.NavButton {
  background-color: #B841B9;
  color: white;
  font-size: 20px;
  text-align: center;
  border-color: #20255F;
  cursor: pointer;        /* make the cursor like hovering over an <a> element */        /* make this the size of your image */
  padding: 20px 20px;
  display: inline-block;
  vertical-align: middle; /* align the text vertically centered */
}

.arrows {
  background-color: #B841B9;
  color: white;
  font-size: 20px;
  width: 50px;
  text-align: center;
  border-color: #20255F;
  cursor: pointer;        /* make the cursor like hovering over an <a> element */        /* make this the size of your image */
  display: inline-block;
  vertical-align: middle; /* align the text vertically centered */
}
